.footer {
  display: flex;
  justify-content: space-between;
  padding: 0rem 3rem;
  margin-top: 10rem;
  align-items: center;
  border-top: 1px dotted #6670858d;
}

@media (max-width: 48rem) {
  .footer {
    flex-direction: column;
    gap: 0.5rem;
    justify-content: start;
    align-items: flex-start;
    margin-top: 5rem;
    padding: 0rem 1rem;
  }
}

.footer p {
  color: #667085;
}
