.footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  margin-top: 10rem;
}

@media (max-width: 48rem) {
  .footer {
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: flex-start;
    margin-top: 5rem;
  }
}

.footer p {
  color: #667085;
}
