.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  color: black;
}

.share {
  position: absolute;
  right: 20%;
}
@media (max-width: 48rem) {
  .share {
    display: none;
  }
}
.shareMobile {
  position: absolute;
  display: none;
}
@media (max-width: 48rem) {
  .shareMobile {
    display: inline-block;
    position: absolute;
    right: 20%;
  }
}

#slack {
  display: none;
}

#profile__img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}
