.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#twitter {
  color: black;
}

.share {
  position: absolute;
  right: 20%;
}

#slack{
  display: hidden;
}
